    #head {
        background-color: rgb(6, 0, 0);
        height: 60px;
    }
    
    #text {
        color: aliceblue;
        text-align: center;
    }
    
    #end {
        background-color: rgb(6, 0, 0);
        height: 60px;
    }